@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {
	--main-bg-color: purple;
	--txt-bg-color: white;
	--status-bg-color: white;
}
  
body {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#containerInfo {
	width: 15vw;
	height: 12vh;
	margin-left: 100em;
	margin-top: 1em;
	position: absolute;
	overflow: hidden;
	border-radius: 1em;
}

.logoInfo {
	position: relative;
	max-width: 3em;
	height: auto;
	margin-top: 0em;
	margin-left: 15.5em;
	display: flex;
}

.discInfo {
	display: flex;
	margin-left: 5.18em;
	margin-top: -2.8em;
	font-size: 1em;
	text-align: right;
	color: var(--txt-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.hourLogoInfo {
	position: absolute;
	display: flex;
	margin-left: 13.5em;
	margin-top: 0.53em;
	font-size: 0.9em;
	text-align: left;
	color: var(--main-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.hourInfo {
	position: relative;
	display: flex;
	margin-left: 0.8em;
	margin-top: 0.05em;
	font-size: 0.7em;
	text-align: left;
	color: var(--txt-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}


.idLogoInfo {
	position: absolute;
	display: flex;
	margin-left: 10em;
	margin-top: 0.64em;
	font-size: 0.8em;
	text-align: left;
	color: var(--main-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.idInfo {
	position: relative;
	display: flex;
	margin-left: 0.8em;
	margin-top: -0.1em;
	font-size: 0.8em;
	text-align: left;
	color: var(--txt-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.playerLogoInfo {
	position: absolute;
	display: flex;
	margin-left: 5em;
	margin-top: 0.5em;
	font-size: 0.9em;
	text-align: left;
	color: var(--main-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.playerInfo {
	position: relative;
	display: flex;
	margin-left: 0.8em;
	margin-top: 0em;
	font-size: 0.7em;
	text-align: left;
	color: var(--txt-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.cashLogoInfo {
	margin: 0.6em;
	margin-top: 2.5em;
	font-size: 0.9em;
	text-align: end;
	color: var(--main-bg-color);
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}


.cashInfo {
	margin: 2em;
	text-align: end;
	margin-top: -1.15em;
	font-size: 1em;
	color: var(--txt-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.saleLogoInfo {
	margin: 0.6em;
	margin-top: -1.2em;
	font-size: 0.9em;
	text-align: end;
	color: var(--main-bg-color);
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}


.saleInfo {
	margin: 2em;
	text-align: end;
	margin-top: -1.15em;
	font-size: 1em;
	color: var(--txt-bg-color);
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

#containerSpeed {
	width: 15vw;
	height: 15vh;
	margin-left: 100em;
	margin-top: 55em;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	overflow: hidden;
}

.speed {
	margin: 0.8em;
	margin-top: 1em;
	font-size: 4em;
	text-align: end;
	color: #ffffff;
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

.unitSpeed {
	margin: 6.3em;
	margin-top: -4.4em;
	font-size: 0.85em;
	text-align: end;
	color: #ffffff;
	font-family: 'Roboto';
	text-shadow: 0.05em 0.05em 0.05em rgb(238, 99, 99);
}

.boxSpeed {
	width: 0.4vw;
	height: 6vh;
	margin-top: -9.5em;
	margin-left: 17.3em;
	transform: rotate(180deg);
	background-color: rgba(77, 77, 77, 0.541);
}

.progressSpeed {
	width: 100%;
	height: 90%;
	background-color: var(--main-bg-color);
}

.logoSpeed {
	margin-top:-1em;
	margin-left: 16em;
	color: white;
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.164);
}

#containerStatus {
	width: 3.5vw;
	height: 18vh;
	margin-left: 19em;
	margin-top: 54.5em;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	overflow: hidden;
}

#containerStatuss {
	width: 3.5vw;
	height: 18vh;
	margin-left: 24em;
	margin-top: 54.5em;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	overflow: hidden;
}

#icon {
	position: absolute;
	font-size: 0.91em;
	margin-top: 0.95em;
	margin-left: 0.90em;
	color: var(--status-bg-color);
	text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.501);
}

.containprogresseat {
	width: 2.16vw;
	height: 3.83vh;
	margin-top: 2.5em;
	margin-left: 0.5em;
	position: relative;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.363);
	overflow: hidden;
	box-shadow: 0px 0px 0.5em 0px rgb(0, 0, 0);

}

.progresseat {
	width: 20%;
	height: 4.8vh;
	position: relative;
	background-color: var(--main-bg-color);
}

.containprogressdrink {
	width: 2.16vw;
	height: 3.83vh;
	margin-top: 1em;
	margin-left: 0.5em;
	position: relative;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.363);
	overflow: hidden;
	box-shadow: 0px 0px 0.5em 0px rgb(0, 0, 0);

}

.progressdrink {
	width: 20%;
	height: 4.8vh;
	position: relative;
	background-color: var(--main-bg-color);
}